@import "~styles/colors";
@import "~styles/mixins";

.channel-list-container {
  background: white;
  padding: 25px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;

  h1 {
    margin: 0 0 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.channel-list {
  list-style: none;
  margin: 0;
  padding: 0;
}