@import "~styles/colors";

.channel-list-element {
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: space-between;

  .status {
    color: $error-color;

    &.active {
      color: $success-color;
    }
  }
}