@import "~styles/colors";

.status-indicator {
  display: inline-block;
  background: $background-color;
  padding: 5px 10px;
  border-radius: 2px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  
  &.ad {
    color: $error-color;
  }

  &.program {
    color: $success-color;
  }
}