// @font-face {
//   font-family: 'Lato';
//   src: url('fonts/Lato-Regular.woff') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Lato';
//   src: url('~public/fonts/Lato-Bold.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Lato';
//   src: url('~public/fonts/Lato-Light.ttf') format('truetype');
//   font-weight: 200;
//   font-style: normal;
// }

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$x-small-font-size: 10px;
$small-font-size: 12px;
$medium-font-size: 16px;
$large-font-size: 22px;
$x-large-font-size: 32px;