@import "~styles/fonts";
@import "~styles/mixins";
@import "~styles/reset";
@import "~styles/colors";

:global {
  body {
    font-family: 'Lato', -apple-system, Helvetica, Arial, sans-serif;
    font-size: $medium-font-size;
    background: $background-color;
    color: $primary-text-color;
  }
}